.qts_head_mid_st .box_head_mid_st .img_bannerid_st {
    height: calc(100vh - 65px - 118px);
    /*height: auto;*/
}

.qts_head_mid_st .box_button_head_mid_st ul {
    display: flex;
}

.qts_head_mid_st .box_button_head_mid_st ul li a {
    display: block;
    padding: 7px 0;
}

.qts_head_mid_st .box_button_head_mid_st ul li a img {
    /*height: 82px;*/
    margin-bottom: 12px;
    width: auto;
}

.qts_head_mid_st .box_button_head_mid_st ul li a span {
    display: block;
    font-size: 17px;
    font-family: 'Roboto_Bold';
    color: #fff;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.qts_head_mid_st .box_button_head_mid_st ul li:nth-child(2) {
    background: #002060;
}

.qts_head_mid_st .box_button_head_mid_st ul li:nth-child(1) {
    background: #C0504D;
}

.qts_head_mid_st .box_button_head_mid_st ul li:nth-child(7) {
    background: #ef580d;
}

.qts_head_mid_st .box_button_head_mid_st ul li:nth-child(3) {
    background: #548235;
}

.qts_head_mid_st .box_button_head_mid_st ul li:nth-child(4) {
    background: #00B050;
}

.qts_head_mid_st .box_button_head_mid_st ul li:nth-child(5) {
    background: #5B9BD5;
}

.qts_head_mid_st .box_button_head_mid_st ul li {
    display: inline-block;
    width: 18%;
    float: left;
    background: #F4B183;
    text-align: center;
}

.box_button_head_mid_st ul li:hover a img {
    -ms-transform: rotate3d(0, 1, 0, 180deg);
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg);
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    -o-transition: transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s;
}

.qts_head_mid_st .box_button_head_mid_st ul li a img {
    height: 40px;
    margin-bottom: 10px;
    width: auto;
}