body.features {
	text-align: inherit;
}

h1, h2, h3, h4 { display: block !important; }

.soon {
	color: #e3e3e3 !important;
}

header.header {
	background: url(../img/headers/features.html);
}

header.header .btn-cta, .item-description .btn-cta {
	background: #1791D6;
	color: #fff;
	font-size: 13px;
	padding:14px 20px;
	border-radius: 4px;
	clear: both;
	display: table;
	margin: 30px auto 0 auto!important;
	width: auto;
	text-transform: uppercase;
	font-weight: 500;
}

header.header .btn-cta:hover {
	background: rgba(26, 169, 138, 0.60) !important;
	color: #fff !important;
	border-radius: 4px;
	border: 1px solid #fff !important;
	transition:all 1s;
	-moz-transition:all 1s;
	-webkit-transition:all 1s;
	border: none !important;
}

header.header .btn-outline, .item-description .btn-outline {
	background: none;
	color: #1791D6;
	font-size: 14px;
	padding:14px 20px;
	border-radius: 4px;
	border: 1px solid #1791D6;
	clear: both;
}




body.features .btn-outline:hover {
	background: #1791D6;
	color: #fff;
}


body.features .owl-carousel .owl-item {
	padding: 0 !important;
}


body.features .subnav {
	border-bottom: #EAEBEE 1px solid;
	padding:0;
}

body.features .subnav ul {
	padding: 15px 0 0 0;
	margin: 0 auto;
	width: auto;
}

body.features .subnav ul li {
	text-transform: uppercase;;
	color: #6A747A;
	font-size: 14px;
	padding-right: 30px;
	float: left;
	list-style: none;
	letter-spacing: -0.5px;
	margin:0 !important;
	border: none;
}

body.features .subnav ul li a {
	color: #6A747A;
}

body.features .subnav ul li a:hover {
	color: #1791D6;
	background:none;
}

body.features .subnav ul li a.active {
	color: #1791D6;
	border-bottom: 2px solid #1791D6;
	padding-bottom: 45px;
}

body.features .subnav ul li:last-child {
	padding-right:0 !important;
}

body.features .subnav ul li:last-child a {
	padding: 0;
}

body.features .subnav ul li:hover {
	background:none;
    border: none;
}


/**** SLIDES ****/


body.features .flexslider-features .row {
	max-width: 95%;
	min-height: 400px;
}

body.features .flexslider-features .item-description {
	max-width: 400px;
	margin-top: 10%;
}

body.features .flexslider-features .item-description svg {
	padding-bottom: 15px;
}

body.features .flexslider-features ul.slides {
	clear: both;
    float: left;
    width: 100%;
    position: relative;
}

body.features .slide-pagination {
	
	position: absolute;
	right: 0;
	top: 30%;
	text-align: right;
	z-index: 9999;
}

body.features .slide-pagination li {
	position: relative;
	overflow: hidden;
	padding: 0 40px 20px 0;
	font-size: 12px;
	text-transform: uppercase;
}

body.features .slide-pagination li:hover {
	padding: 0 60px 20px 0;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	cursor: pointer;
}

body.features .slide-pagination li:hover {
	color: #1791D6 !important;
}

body.features .flex-control-nav .flex-active {
	color: #1791D6 !important;
}

body.features .slide-pagination li::after {
	position: absolute;
	content: '';
	right:-35%;
	top: 7px;
	width: 100px;
	height: 1px;
	background: #e3e3e3;
}

body.features .slide-pagination li a {
	color: #333;
}

@media all and (max-width: 1280px) {

	body.features .slide-pagination {
		display: none;
	}
}

body.features .flexslider-features .customNavigation a {
	width: 40px;
    height: 40px;
    border: 1px solid #e3e3e3;
    color: #e3e3e3;
    padding: 8px 15px;
    border-radius: 50%;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
}

body.features .flexslider-features .customNavigation a:hover {
	color: #1791D6;
	border: solid 1px #1791D6;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

body.features .item-description h3 {
	font-weight: 300;
	font-size: 42px !important;
	color: #3B4349 !important;
	line-height: 47px !important;
}

body.features .item-description h3, .item-description p {
	padding-bottom: 30px;
	font-weight: 300;
	font-size: 18px;
	color: #5B5B61;
	line-height: 30px;
}


body.features .item-description h4 {
	font-weight: 300;
	font-size: 32px !important;
	color: #3B4349 !important;
	position: relative;
	padding-bottom: 25px;
	margin-bottom: 25px;
}

body.features .item-description h4::after {
	width:30px;
	height:1px;
	background:#1791D6;
	left:0%;
	bottom:0;
	position: absolute;
	content: '';
}






/*** DIVIDER ***/

body.features .divider {
	border-bottom: solid 1px #e3e3e3;
	position: relative;
	margin: 50px 0;
}

body.features .divider i {
	color: #1791D6;
	font-size: 18px;
	padding:17px 20px;
	border: solid #e3e3e3 1px;
	border-radius:50%;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 48.4%;
	bottom: -25px;
	background: #fff;
}



body.features .section-intro {
	margin-bottom: 50px;
}

@media all and (max-width:800px) {
	body.features .item-description {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	body.features .owl-carousel .row {
		max-width: 100%;
	    min-height: 0;
	}

	body.features .owl-carousel .item-description {
		max-width: 100%;
	}

	.slider-desc {
		padding-top: 30px;
	}

	body.features .item-description h4 {
		padding-top: 20px;
	}

	body.features .item-description h4::after {
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}

body.features .section-intro h3 {
	font-weight: 500;
	font-size: 32px !important;
	padding-bottom: 15px;
	color: #1791D6 !important;
}

body.features .section-intro h4 {
	font-weight: 300;
	font-size: 19px !important;
	color: #3B4349 !important;
}


body.features section.grey {
	background: url(../img/features/new/cards-bg.html) #1791D6;
	padding: 80px 0;
	margin: 50px 0;
}


body.features .card {
	background: #fff;
	border-radius: 2px;
	min-height: 200px;
	text-align: center !important;
	padding-bottom: 15px;
	min-height: 480px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(17,87,71,0.4);
	-moz-box-shadow: 0px 0px 15px 0px rgba(17,87,71,0.4);
	box-shadow: 0px 0px 15px 0px rgba(17,87,71,0.4);
}

@media all and (max-width:800px) {
	.card-margin {
		margin-bottom: 30px;
	}
}

body.features .card img {
	padding-bottom: 15px;
}

body.features .card h4 {
	font-size: 26px !important; 
}

body.features .card h4::after {
	left: 48% !important;
	background: #fff;
}

body.features .card p {
	font-size: 16px !important; 
	line-height: 26px;
}

body.features .card h4, .card p {
	padding:0 15px;
}



body.features .section-filtering {
	background: #ebedf2;
	color: #fff;
	padding-top: 30px;
	margin: 50px 0 0 0;
}

body.features .section-filtering h4 {
	font-weight: 300;
	font-size: 33px !important;
	color: #fff !important;
	padding-bottom: 30px;
}

body.features .section-filtering p {
	font-size: 16px !important; 
	line-height: 26px;
}


body.features .section-map {
	background: url(../img/features/new/map.html) no-repeat center center;
	background-size: contain;
	font-size: 16px;
	font-weight: 300;
}

body.features .section-map .description {
	padding: 120px 0;
}

body.features .section-map img {
	padding-bottom: 20px
} 

body.features .section-map h3 {
	font-size: 38px;
	font-weight: 300;
	color: #1791D6;
}

body.features .section-map h4 {
	font-size: 23px;
	font-weight: 300;
	padding-bottom: 20px;
}

body.features .section-map .btn-cta {
	padding: 15px 50px;
	margin-top: 30px;
	font-weight: 400;
} 

@media all and (max-width:800px) {

	body.features .section-map h3 {
		font-size: 24px;
		font-weight: 500;
		color: #1791D6;
		padding-bottom: 20px;
	}
}

body.features .section-cta {
	background: #1791D6;
	padding:15px 0 15px 0;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}



body.features .section-testimonials {
	background: url(../img/customers-header.html);
	background-size: cover;
	padding: 150px 0;
	color: #fff;
	font-weight: 100;
	font-size: 29px;
	margin-top: 50px;
}

body.features .section-testimonials i {
	padding-bottom: 30px;
}

body.features .section-testimonials .author {
	text-transform:uppercase;
	font-size:14px;
	font-weight: 500;
	margin-top: 50px;
}

@media all and (max-width:800px) {

	body.features .section-testimonials {
		background: url(../img/customers-header.html);
		background-size: cover;
		padding: 50px 0;
		color: #fff;
		font-weight: 300;
		font-size: 17px;
		margin-top: 50px;
	}
}


/*** FIXY ***/

@media all and (max-width:800px) {
	body.features .flexslider-features .row {
		max-width: 100% !important;
	    margin: 0 auto;
	}

	body.features .divider i {
		left: 44% !important;
	}
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

	body.features .flexslider-features .row, body.features .flexslider-features .item-description {
		max-width: 100% !important;
	    margin: 0 auto;
	}

	body.features .divider i {
		left: 44% !important;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	body.features .flexslider-features .row, body.features .flexslider-features .item-description {
		max-width: 100% !important;
	    margin: 0 auto;
	}

	body.features .divider i {
		left: 44% !important;
	}
}

/* The New iPad (iPad 3) ----------- */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) and (-webkit-min-device-pixel-ratio: 2) {
	body.features .flexslider-features .row, body.features .flexslider-features .item-description {
		max-width: 100% !important;
	    margin: 0 auto;
	}

	body.features .divider i {
		left: 44% !important;
	}
}